<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>secondString</key>
	<string>&apos;</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*.*\(.*\)\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>abs</string>
		<string>asm</string>
		<string>bool</string>
		<string>break</string>
		<string>byte</string>
		<string>case</string>
		<string>char</string>
		<string>const</string>
		<string>continue</string>
		<string>default</string>
		<string>do</string>
		<string>else</string>
		<string>false</string>
		<string>for</string>
		<string>goto</string>
		<string>if</string>
		<string>inline</string>
		<string>int</string>
		<string>long</string>
		<string>mutex</string>
		<string>repeat</string>
		<string>return</string>
		<string>safecall</string>
		<string>short</string>
		<string>sign</string>
		<string>start</string>
		<string>string</string>
		<string>struct</string>
		<string>sub</string>
		<string>switch</string>
		<string>task</string>
		<string>true</string>
		<string>typedef</string>
		<string>unsigned</string>
		<string>until</string>
		<string>void</string>
		<string>while</string>
		<string>#include</string>
		<string>#define</string>
		<string>#ifdef</string>
		<string>#ifndef</string>
		<string>#endif</string>
		<string>#if</string>
		<string>#elif</string>
		<string>#undef</string>
		<string>##</string>
		<string>#line</string>
		<string>#pragma</string>
		<string>Wait</string>
		<string>CurrentTick</string>
		<string>FirstTick</string>
		<string>SleepTimeout</string>
		<string>SleepTimer</string>
		<string>ResetSleepTimer</string>
		<string>SetSleepTimeout</string>
		<string>SetSleepTimer</string>
		<string>Stop</string>
		<string>Acquire</string>
		<string>Release</string>
		<string>Precedes</string>
		<string>Follows</string>
		<string>ExitTo</string>
		<string>StrToNum</string>
		<string>StrLen</string>
		<string>StrIndex</string>
		<string>NumToStr</string>
		<string>StrCat</string>
		<string>SubStr</string>
		<string>StrReplace</string>
		<string>Flatten</string>
		<string>ByteArrayToStr</string>
		<string>ByteArrayToStrEx</string>
		<string>StrToByteArray</string>
		<string>ArrayLen</string>
		<string>ArrayInit</string>
		<string>ArraySubset</string>
		<string>ArrayBuild</string>
		<string>Random</string>
		<string>Sqrt</string>
		<string>Sin</string>
		<string>Cos</string>
		<string>Asin</string>
		<string>Acos</string>
		<string>SysDrawText</string>
		<string>SysDrawPoint</string>
		<string>SysDrawLine</string>
		<string>SysDrawCircle</string>
		<string>SysDrawRect</string>
		<string>SysDrawGraphic</string>
		<string>SysSetScreenMode</string>
		<string>SysSoundPlayFile</string>
		<string>SysSoundPlayTone</string>
		<string>SysSoundGetState</string>
		<string>SysSoundSetState</string>
		<string>SysReadButton</string>
		<string>SysRandomNumber</string>
		<string>SysGetStartTick</string>
		<string>SysKeepAlive</string>
		<string>SysFileOpenWrite</string>
		<string>SysFileOpenAppend</string>
		<string>SysFileOpenRead</string>
		<string>SysFileRead</string>
		<string>SysFileWrite</string>
		<string>SysFileClose</string>
		<string>SysFileResolveHandle</string>
		<string>SysFileRename</string>
		<string>SysFileDelete</string>
		<string>SysCommLSWrite</string>
		<string>SysCommLSCheckStatus</string>
		<string>SysCommLSRead</string>
		<string>SysMessageWrite</string>
		<string>SysMessageRead</string>
		<string>SysCommBTWrite</string>
		<string>SysCommBTCheckStatus</string>
		<string>SysIOMapRead</string>
		<string>SysIOMapWrite</string>
		<string>SysIOMapReadByID</string>
		<string>SysIOMapWriteByID</string>
		<string>SysDisplayExecuteFunction</string>
		<string>SysCommExecuteFunction</string>
		<string>SysLoaderExecuteFunction</string>
		<string>SysCall</string>
		<string>SetSensor</string>
		<string>SetSensorType</string>
		<string>SetSensorMode</string>
		<string>SetSensorLight</string>
		<string>SetSensorSound</string>
		<string>SetSensorTouch</string>
		<string>SetSensorLowspeed</string>
		<string>SetInput</string>
		<string>ClearSensor</string>
		<string>ResetSensor</string>
		<string>SetCustomSensorZeroOffset</string>
		<string>SetCustomSensorPercentFullScale</string>
		<string>SetCustomSensorActiveStatus</string>
		<string>SetSensorDigiPinsDirection</string>
		<string>SetSensorDigiPinsStatus</string>
		<string>SetSensorDigiPinsOutputLevel</string>
		<string>Sensor</string>
		<string>SensorUS</string>
		<string>SensorType</string>
		<string>SensorMode</string>
		<string>SensorRaw</string>
		<string>SensorNormalized</string>
		<string>SensorScaled</string>
		<string>SensorInvalid</string>
		<string>SensorBoolean</string>
		<string>GetInput</string>
		<string>CustomSensorZeroOffset</string>
		<string>CustomSensorPercentFullScale</string>
		<string>CustomSensorActiveStatus</string>
		<string>SensorDigiPinsDirection</string>
		<string>SensorDigiPinsStatus</string>
		<string>SensorDigiPinsOutputLevel</string>
		<string>SENSOR_1</string>
		<string>SENSOR_2</string>
		<string>SENSOR_3</string>
		<string>SENSOR_4</string>
		<string>S1</string>
		<string>S2</string>
		<string>S3</string>
		<string>S4</string>
		<string>OUT_A</string>
		<string>OUT_B</string>
		<string>OUT_C</string>
		<string>OUT_AB</string>
		<string>OUT_AC</string>
		<string>OUT_BC</string>
		<string>OUT_ABC</string>
		<string>Off</string>
		<string>OffEx</string>
		<string>Coast</string>
		<string>CoastEx</string>
		<string>Float</string>
		<string>OnFwd</string>
		<string>OnFwdEx</string>
		<string>OnRev</string>
		<string>OnRevEx</string>
		<string>OnFwdReg</string>
		<string>OnFwdRegEx</string>
		<string>OnRevReg</string>
		<string>OnRevRegEx</string>
		<string>OnFwdSync</string>
		<string>OnFwdSyncEx</string>
		<string>OnRevSync</string>
		<string>OnRevSyncEx</string>
		<string>RotateMotor</string>
		<string>RotateMotorPID</string>
		<string>RotateMotorEx</string>
		<string>RotateMotorExPID</string>
		<string>ResetTachoCount</string>
		<string>ResetBlockTachoCount</string>
		<string>ResetRotationCount</string>
		<string>ResetAllTachoCounts</string>
		<string>SetOutput</string>
		<string>GetOutput</string>
		<string>MotorMode</string>
		<string>MotorPower</string>
		<string>MotorActualSpeed</string>
		<string>MotorTachoCount</string>
		<string>MotorTachoLimit</string>
		<string>MotorRunState</string>
		<string>MotorTurnRatio</string>
		<string>MotorRegulation</string>
		<string>MotorOverload</string>
		<string>MotorRegPValue</string>
		<string>MotorRegIValue</string>
		<string>MotorRegDValue</string>
		<string>MotorBlockTachoCount</string>
		<string>MotorRotationCount</string>
		<string>MotorPwnFreq</string>
		<string>SetMotorPwnFreq</string>
		<string>SetIOMA</string>
		<string>PlayTone</string>
		<string>PlayToneEx</string>
		<string>PlayFile</string>
		<string>PlayFileEx</string>
		<string>SoundFlags</string>
		<string>SetSoundFlags</string>
		<string>SoundState</string>
		<string>SetSoundState</string>
		<string>SoundMode</string>
		<string>SetSoundMode</string>
		<string>SoundFrequency</string>
		<string>SetSoundFrequency</string>
		<string>SoundDuration</string>
		<string>SetSoundDuration</string>
		<string>SoundSampleRate</string>
		<string>SetSoundSampleRate</string>
		<string>SoundVolume</string>
		<string>SetSoundVolume</string>
		<string>StopSound</string>
		<string>PowerDown</string>
		<string>RebootInFirmwareMode</string>
		<string>NumOut</string>
		<string>TextOut</string>
		<string>GraphicOut</string>
		<string>GraphicOutEx</string>
		<string>CircleOut</string>
		<string>LineOut</string>
		<string>PointOut</string>
		<string>RectOut</string>
		<string>ResetScreen</string>
		<string>ClearScreen</string>
		<string>DisplayFlags</string>
		<string>SetDisplayFlags</string>
		<string>DisplayEraseMask</string>
		<string>SetDisplayEraseMask</string>
		<string>DisplayUpdateMask</string>
		<string>SetDisplayUpdateMask</string>
		<string>DisplayDisplay</string>
		<string>SetDisplayDisplay</string>
		<string>DisplayTextLinesCenterFlags</string>
		<string>SetDisplayTextLinesCenterFlags</string>
		<string>GetDisplayNormal</string>
		<string>SetDisplayNormal</string>
		<string>GetDisplayPopup</string>
		<string>SetDisplayPopup</string>
		<string>FreeMemory</string>
		<string>CreateFile</string>
		<string>OpenFileAppend</string>
		<string>OpenFileRead</string>
		<string>CloseFile</string>
		<string>ResolveHandle</string>
		<string>RenameFile</string>
		<string>DeleteFile</string>
		<string>Read</string>
		<string>ReadLn</string>
		<string>ReadBytes</string>
		<string>Write</string>
		<string>WriteLn</string>
		<string>WriteString</string>
		<string>WriteLnString</string>
		<string>WriteBytes</string>
		<string>WriteBytesEx</string>
		<string>ButtonCount</string>
		<string>ButtonPressed</string>
		<string>ReadButtonEx</string>
		<string>ButtonPressCount</string>
		<string>SetButtonPressCount</string>
		<string>ButtonLongPressCount</string>
		<string>SetButtonLongPressCount</string>
		<string>ButtonShortReleaseCount</string>
		<string>SetButtonShortReleaseCount</string>
		<string>ButtonLongReleaseCount</string>
		<string>SetButtonLongReleaseCount</string>
		<string>ButtonReleaseCount</string>
		<string>SetButtonReleaseCount</string>
		<string>ButtonState</string>
		<string>SetButtonState</string>
		<string>Volume</string>
		<string>SetVolume</string>
		<string>BatteryLevel</string>
		<string>BluetoothState</string>
		<string>SetBluetoothState</string>
		<string>CommandFlags</string>
		<string>SetCommandFlags</string>
		<string>UIState</string>
		<string>SetUIState</string>
		<string>UIButton</string>
		<string>SetUIButton</string>
		<string>VMRunState</string>
		<string>SetVMRunState</string>
		<string>BatteryState</string>
		<string>SetBatteryState</string>
		<string>RechargeableBattery</string>
		<string>ForceOff</string>
		<string>UsbState</string>
		<string>SetUsbState</string>
		<string>OnBrickProgramPointer</string>
		<string>SetOnBrickProgramPointer</string>
		<string>LowspeedWrite</string>
		<string>LowspeedStatus</string>
		<string>LowspeedRead</string>
		<string>I2CWrite</string>
		<string>I2CStatus</string>
		<string>I2CRead</string>
		<string>I2CBytes</string>
		<string>GetLSInputBuffer</string>
		<string>SetLSInputBuffer</string>
		<string>GetLSOutputBuffer</string>
		<string>SetLSOutputBuffer</string>
		<string>LSInputBufferInPtr</string>
		<string>SetLSInputBufferInPtr</string>
		<string>LSInputBufferOutPtr</string>
		<string>SetLSInputBufferOutPtr</string>
		<string>LSInputBufferBytesToRx</string>
		<string>SetLSInputBufferBytesToRx</string>
		<string>LSOutputBufferInPtr</string>
		<string>SetLSOutputBufferInPtr</string>
		<string>LSOutputBufferOutPtr</string>
		<string>SetLSOutputBufferOutPtr</string>
		<string>LSOutputBufferBytesToRx</string>
		<string>SetLSOutputBufferBytesToRx</string>
		<string>LSMode</string>
		<string>SetLSMode</string>
		<string>LSChannelState</string>
		<string>SetLSChannelState</string>
		<string>LSErrorType</string>
		<string>SetLSErrorType</string>
		<string>LSState</string>
		<string>SetLSState</string>
		<string>LSSpeed</string>
		<string>SetLSSpeed</string>
		<string>SendRemoteBool</string>
		<string>SendRemoteNumber</string>
		<string>SendRemoteString</string>
		<string>SendResponseBool</string>
		<string>SendResponseNumber</string>
		<string>SendResponseString</string>
		<string>ReceiveRemoteBool</string>
		<string>ReceiveRemoteNumber</string>
		<string>ReceiveRemoteString</string>
		<string>ReceiveRemoteMessageEx</string>
		<string>SendMessage</string>
		<string>ReceiveMessage</string>
		<string>BluetoothStatus</string>
		<string>BluetoothWrite</string>
		<string>RemoteMessageRead</string>
		<string>RemoteMessageWrite</string>
		<string>RemoteStartProgram</string>
		<string>RemoteStopProgram</string>
		<string>RemotePlaySoundFile</string>
		<string>RemotePlayTone</string>
		<string>RemoteStopSound</string>
		<string>RemoteKeepAlive</string>
		<string>RemoteResetScaledValue</string>
		<string>RemoteResetMotorPosition</string>
		<string>RemoteSetInputMode</string>
		<string>RemoteSetOutputState</string>
		<string>GetUSBInputBuffer</string>
		<string>SetUSBInputBuffer</string>
		<string>SetUSBInputBufferInPtr</string>
		<string>USBInputBufferInPtr</string>
		<string>SetUSBInputBufferOutPtr</string>
		<string>USBInputBufferOutPtr</string>
		<string>GetUSBOutputBuffer</string>
		<string>SetUSBOutputBuffer</string>
		<string>SetUSBOutputBufferInPtr</string>
		<string>USBOutputBufferInPtr</string>
		<string>SetUSBOutputBufferOutPtr</string>
		<string>USBOutputBufferOutPtr</string>
		<string>GetUSBPollBuffer</string>
		<string>SetUSBPollBuffer</string>
		<string>SetUSBPollBufferInPtr</string>
		<string>USBPollBufferInPtr</string>
		<string>SetUSBPollBufferOutPtr</string>
		<string>USBPollBufferOutPtr</string>
		<string>SetUSBState</string>
		<string>USBState</string>
		<string>GetHSInputBuffer</string>
		<string>SetHSInputBuffer</string>
		<string>SetHSInputBufferInPtr</string>
		<string>HSInputBufferInPtr</string>
		<string>SetHSInputBufferOutPtr</string>
		<string>HSInputBufferOutPtr</string>
		<string>GetHSOutputBuffer</string>
		<string>SetHSOutputBuffer</string>
		<string>SetHSOutputBufferInPtr</string>
		<string>HSOutputBufferInPtr</string>
		<string>SetHSOutputBufferOutPtr</string>
		<string>HSOutputBufferOutPtr</string>
		<string>SetHSFlags</string>
		<string>HSFlags</string>
		<string>SetHSSpeed</string>
		<string>HSSpeed</string>
		<string>SetHSState</string>
		<string>HSState</string>
		<string>GetBTInputBuffer</string>
		<string>SetBTInputBuffer</string>
		<string>SetBTInputBufferInPtr</string>
		<string>BTInputBufferInPtr</string>
		<string>SetBTInputBufferOutPtr</string>
		<string>BTInputBufferOutPtr</string>
		<string>GetBTOutputBuffer</string>
		<string>SetBTOutputBuffer</string>
		<string>SetBTOutputBufferInPtr</string>
		<string>BTOutputBufferInPtr</string>
		<string>SetBTOutputBufferOutPtr</string>
		<string>BTOutputBufferOutPtr</string>
		<string>BTDeviceCount</string>
		<string>BTDeviceNameCount</string>
		<string>BTDeviceName</string>
		<string>BTConnectionName</string>
		<string>BTConnectionPinCode</string>
		<string>BrickDataName</string>
		<string>GetBTDeviceAddress</string>
		<string>GetBTConnectionAddress</string>
		<string>GetBrickDataAddress</string>
		<string>BTDeviceClass</string>
		<string>BTDeviceStatus</string>
		<string>BTConnectionClass</string>
		<string>BTConnectionHandleNum</string>
		<string>BTConnectionStreamStatus</string>
		<string>BTConnectionLinkQuality</string>
		<string>BrickDataBluecoreVersion</string>
		<string>BrickDataBtStateStatus</string>
		<string>BrickDataBtHardwareStatus</string>
		<string>BrickDataTimeoutValue</string>
	</array>
	<key>autocompleteWords</key>
	<array>
		<string>DrawTextType</string>
		<string>DrawPointType</string>
		<string>DrawLineType</string>
		<string>DrawCircleType</string>
		<string>DrawRectType</string>
		<string>DrawGraphicType</string>
		<string>SetScreenModeType</string>
		<string>SoundPlayFileType</string>
		<string>SoundPlayToneType</string>
		<string>SoundGetStateType</string>
		<string>SoundSetStateType</string>
		<string>ReadButtonType</string>
		<string>RandomNumberType</string>
		<string>GetStartTickType</string>
		<string>KeepAliveType</string>
		<string>FileOpenType</string>
		<string>FileReadWriteType</string>
		<string>FileReadWriteType</string>
		<string>FileCloseType</string>
		<string>FileResolveHandleType</string>
		<string>FileRenameType</string>
		<string>FileDeleteType</string>
		<string>CommLSWriteType</string>
		<string>CommLSCheckStatusType</string>
		<string>CommLSReadType</string>
		<string>MessageWriteType</string>
		<string>MessageReadType</string>
		<string>CommBTWriteType</string>
		<string>CommBTCheckStatusType</string>
		<string>IOMapReadType</string>
		<string>IOMapWriteType</string>
		<string>IOMapReadByIDType</string>
		<string>IOMapWriteByIDType</string>
		<string>DisplayExecuteFunctionType</string>
		<string>CommExecuteFunctionType</string>
		<string>INTF_SENDFILE</string>
		<string>INTF_SEARCH</string>
		<string>INTF_STOPSEARCH</string>
		<string>INTF_CONNECT</string>
		<string>INTF_DISCONNECT</string>
		<string>INTF_DISCONNECTALL</string>
		<string>INTF_REMOVEDEVICE</string>
		<string>INTF_VISIBILITY</string>
		<string>INTF_SETCMDMODE</string>
		<string>INTF_OPENSTREAM</string>
		<string>INTF_SENDDATA</string>
		<string>INTF_FACTORYRESET</string>
		<string>INTF_BTON</string>
		<string>INTF_BTOFF</string>
		<string>INTF_SETBTNAME</string>
		<string>INTF_EXTREAD</string>
		<string>INTF_PINREQ</string>
		<string>INTF_CONNECTREQ</string>
		<string>LoaderExecuteFunctionType</string>
		<string>LDR_CMD_OPENREAD</string>
		<string>LDR_CMD_OPENWRITE</string>
		<string>LDR_CMD_READ</string>
		<string>LDR_CMD_WRITE</string>
		<string>LDR_CMD_CLOSE</string>
		<string>LDR_CMD_DELETE</string>
		<string>LDR_CMD_FINDFIRST</string>
		<string>LDR_CMD_FINDNEXT</string>
		<string>LDR_CMD_OPENWRITELINEAR</string>
		<string>LDR_CMD_OPENREADLINEAR</string>
		<string>LDR_CMD_OPENAPPENDDATA</string>
		<string>LDR_CMD_FINDFIRSTMODULE</string>
		<string>LDR_CMD_FINDNEXTMODULE</string>
		<string>LDR_CMD_CLOSEMODHANDLE</string>
		<string>LDR_CMD_IOMAPREAD</string>
		<string>LDR_CMD_IOMAPWRITE</string>
		<string>LDR_CMD_DELETEUSERFLASH</string>
		<string>LDR_CMD_RENAMEFILE</string>
		<string>SENSOR_TYPE_NONE</string>
		<string>SENSOR_TYPE_TOUCH</string>
		<string>SENSOR_TYPE_TEMPERATURE</string>
		<string>SENSOR_TYPE_LIGHT</string>
		<string>SENSOR_TYPE_ROTATION</string>
		<string>SENSOR_TYPE_LIGHT_ACTIVE</string>
		<string>SENSOR_TYPE_LIGHT_INACTIVE</string>
		<string>SENSOR_TYPE_SOUND_DB</string>
		<string>SENSOR_TYPE_SOUND_DBA</string>
		<string>SENSOR_TYPE_CUSTOM</string>
		<string>SENSOR_TYPE_LOWSPEED</string>
		<string>SENSOR_TYPE_LOWSPEED_9V</string>
		<string>SENSOR_MODE_RAW</string>
		<string>SENSOR_MODE_BOOL</string>
		<string>SENSOR_MODE_EDGE</string>
		<string>SENSOR_MODE_PULSE</string>
		<string>SENSOR_MODE_PERCENT</string>
		<string>SENSOR_MODE_FAHRENHEIT</string>
		<string>SENSOR_MODE_CELSIUS</string>
		<string>SENSOR_MODE_ROTATION</string>
		<string>SENSOR_TOUCH</string>
		<string>SENSOR_LIGHT</string>
		<string>SENSOR_ROTATION</string>
		<string>SENSOR_CELSIUS</string>
		<string>SENSOR_FAHRENHEIT</string>
		<string>SENSOR_PULSE</string>
		<string>SENSOR_EDGE</string>
		<string>UF_UPDATE_MODE</string>
		<string>UF_UPDATE_SPEED</string>
		<string>UF_UPDATE_TACHO_LIMIT</string>
		<string>UF_UPDATE_RESET_COUNT</string>
		<string>UF_UPDATE_PID_VALUES</string>
		<string>UF_UPDATE_RESET_BLOCK_COUNT</string>
		<string>UF_UPDATE_RESET_ROTATION_COUNT</string>
		<string>OUT_MODE_COAST</string>
		<string>OUT_MODE_MOTORON</string>
		<string>OUT_MODE_BRAKE</string>
		<string>OUT_MODE_REGULATED</string>
		<string>OUT_MODE_REGMETHOD</string>
		<string>OUT_RUNSTATE_IDLE</string>
		<string>OUT_RUNSTATE_RAMPUP</string>
		<string>OUT_RUNSTATE_RUNNING</string>
		<string>OUT_RUNSTATE_RAMPDOWN</string>
		<string>OUT_REGMODE_IDLE</string>
		<string>OUT_REGMODE_SPEED</string>
		<string>OUT_REGMODE_SYNC</string>
		<string>RESET_NONE</string>
		<string>RESET_COUNT</string>
		<string>RESET_BLOCK_COUNT</string>
		<string>RESET_ROTATION_COUNT</string>
		<string>RESET_BLOCKANDTACHO</string>
		<string>RESET_ALL</string>
		<string>SOUND_FLAGS_IDLE</string>
		<string>SOUND_FLAGS_UPDATE</string>
		<string>SOUND_FLAGS_RUNNING</string>
		<string>SOUND_STATE_IDLE</string>
		<string>SOUND_STATE_FILE</string>
		<string>SOUND_STATE_TONE</string>
		<string>SOUND_STATE_STOP</string>
		<string>SOUND_MODE_ONCE</string>
		<string>SOUND_MODE_LOOP</string>
		<string>SOUND_MODE_TONE</string>
		<string>FREQUENCY_MIN</string>
		<string>FREQUENCY_MAX</string>
		<string>LCD_LINE1</string>
		<string>LCD_LINE2</string>
		<string>LCD_LINE3</string>
		<string>LCD_LINE4</string>
		<string>LCD_LINE5</string>
		<string>LCD_LINE6</string>
		<string>LCD_LINE7</string>
		<string>LCD_LINE8</string>
		<string>SAMPLERATE_MIN</string>
		<string>SAMPLERATE_DEFAULT</string>
		<string>SAMPLERATE_MAX</string>
		<string>DISPLAY_ON</string>
		<string>DISPLAY_REFRESH</string>
		<string>DISPLAY_POPUP</string>
		<string>DISPLAY_REFRESH_DISABLED</string>
		<string>DISPLAY_BUSY</string>
		<string>TEXT_LINE1</string>
		<string>TEXT_LINE2</string>
		<string>TEXT_LINE3</string>
		<string>TEXT_LINE4</string>
		<string>TEXT_LINE5</string>
		<string>TEXT_LINE6</string>
		<string>TEXT_LINE7</string>
		<string>TEXT_LINE8</string>
		<string>LDR_SUCCESS</string>
		<string>LDR_INPROGRESS</string>
		<string>LDR_REQPIN</string>
		<string>LDR_NOMOREHANDLES</string>
		<string>LDR_NOSPACE</string>
		<string>LDR_NOMOREFILES</string>
		<string>LDR_EOFEXPECTED</string>
		<string>LDR_ENDOFFILE</string>
		<string>LDR_NOTLINEARFILE</string>
		<string>LDR_FILENOTFOUND</string>
		<string>LDR_HANDLEALREADYCLOSED</string>
		<string>LDR_NOLINEARSPACE</string>
		<string>LDR_UNDEFINEDERROR</string>
		<string>LDR_FILEISBUSY</string>
		<string>LDR_NOWRITEBUFFERS</string>
		<string>LDR_APPENDNOTPOSSIBLE</string>
		<string>LDR_FILEISFULL</string>
		<string>LDR_FILEEXISTS</string>
		<string>LDR_MODULENOTFOUND</string>
		<string>LDR_OUTOFBOUNDARY</string>
		<string>LDR_ILLEGALFILENAME</string>
		<string>LDR_ILLEGALHANDLE</string>
		<string>LDR_BTBUSY</string>
		<string>LDR_BTCONNECTFAIL</string>
		<string>LDR_BTTIMEOUT</string>
		<string>LDR_FILETX_TIMEOUT</string>
		<string>LDR_FILETX_DSTEXISTS</string>
		<string>LDR_FILETX_SRCMISSING</string>
		<string>LDR_FILETX_STREAMERROR</string>
		<string>LDR_FILETX_CLOSEERROR</string>
		<string>BTN1</string>
		<string>BTNEXIT</string>
		<string>BTN2</string>
		<string>BTNRIGHT</string>
		<string>BTN3</string>
		<string>BTNLEFT</string>
		<string>BTN4</string>
		<string>BTNCENTER</string>
		<string>NO_OF_BTNS</string>
		<string>BTNSTATE_PRESSED_EV</string>
		<string>BTNSTATE_SHORT_RELEASED_EV</string>
		<string>BTNSTATE_LONG_PRESSED_EV</string>
		<string>BTNSTATE_LONG_RELEASED_EV</string>
		<string>BTNSTATE_PRESSED_STATE</string>
		<string>UI_FLAGS_UPDATE</string>
		<string>UI_FLAGS_DISABLE_LEFT_RIGHT_ENTER</string>
		<string>UI_FLAGS_DISABLE_EXIT</string>
		<string>UI_FLAGS_REDRAW_STATUS</string>
		<string>UI_FLAGS_RESET_SLEEP_TIMER</string>
		<string>UI_FLAGS_EXECUTE_LMS_FILE</string>
		<string>UI_FLAGS_BUSY</string>
		<string>UI_FLAGS_ENABLE_STATUS_UPDATE</string>
		<string>UI_STATE_INIT_DISPLAY</string>
		<string>UI_STATE_INIT_LOW_BATTERY</string>
		<string>UI_STATE_INIT_INTRO</string>
		<string>UI_STATE_INIT_WAIT</string>
		<string>UI_STATE_INIT_MENU</string>
		<string>UI_STATE_NEXT_MENU</string>
		<string>UI_STATE_DRAW_MENU</string>
		<string>UI_STATE_TEST_BUTTONS</string>
		<string>UI_STATE_LEFT_PRESSED</string>
		<string>UI_STATE_RIGHT_PRESSED</string>
		<string>UI_STATE_ENTER_PRESSED</string>
		<string>UI_STATE_EXIT_PRESSED</string>
		<string>UI_STATE_CONNECT_REQUEST</string>
		<string>UI_STATE_EXECUTE_FILE</string>
		<string>UI_STATE_EXECUTING_FILE</string>
		<string>UI_STATE_LOW_BATTERY</string>
		<string>UI_STATE_BT_ERROR</string>
		<string>UI_BUTTON_NONE</string>
		<string>UI_BUTTON_LEFT</string>
		<string>UI_BUTTON_ENTER</string>
		<string>UI_BUTTON_RIGHT</string>
		<string>UI_BUTTON_EXIT</string>
		<string>UI_BT_STATE_VISIBLE</string>
		<string>UI_BT_STATE_CONNECTED</string>
		<string>UI_BT_STATE_OFF</string>
		<string>UI_BT_ERROR_ATTENTION</string>
		<string>UI_BT_CONNECT_REQUEST</string>
		<string>UI_BT_PIN_REQUEST</string>
		<string>NO_ERR</string>
		<string>STAT_COMM_PENDING</string>
		<string>ERR_INVALID_SIZE</string>
		<string>ERR_COMM_CHAN_NOT_READY</string>
		<string>ERR_COMM_CHAN_INVALID</string>
		<string>ERR_COMM_BUS_ERR</string>
		<string>COM_CHANNEL_NONE_ACTIVE</string>
		<string>COM_CHANNEL_ONE_ACTIVE</string>
		<string>COM_CHANNEL_TWO_ACTIVE</string>
		<string>COM_CHANNEL_THREE_ACTIVE</string>
		<string>COM_CHANNEL_NONE_ACTIVE</string>
		<string>LOWSPEED_IDLE</string>
		<string>LOWSPEED_INIT</string>
		<string>LOWSPEED_LOAD_BUFFER</string>
		<string>LOWSPEED_COMMUNICATING</string>
		<string>LOWSPEED_ERROR</string>
		<string>LOWSPEED_DONE</string>
		<string>LOWSPEED_TRANSMITTING</string>
		<string>LOWSPEED_RECEIVING</string>
		<string>LOWSPEED_DATA_RECEIVED</string>
		<string>LOWSPEED_NO_ERROR</string>
		<string>LOWSPEED_CH_NOT_READY</string>
		<string>LOWSPEED_TX_ERROR</string>
		<string>LOWSPEED_RX_ERROR</string>
		<string>SIZE_OF_USBBUF</string>
		<string>USB_PROTOCOL_OVERHEAD</string>
		<string>SIZE_OF_USBDATA</string>
		<string>SIZE_OF_HSBUF</string>
		<string>SIZE_OF_BTBUF</string>
		<string>BT_CMD_BYTE</string>
		<string>SIZE_OF_BT_DEVICE_TABLE</string>
		<string>SIZE_OF_BT_CONNECT_TABLE</string>
		<string>SIZE_OF_BT_NAME</string>
		<string>SIZE_OF_BRICK_NAME</string>
		<string>SIZE_OF_CLASS_OF_DEVICE</string>
		<string>SIZE_OF_BDADDR</string>
		<string>MAX_BT_MSG_SIZE</string>
		<string>BT_DEFAULT_INQUIRY_MAX</string>
		<string>BT_DEFAULT_INQUIRY_TIMEOUT_LO</string>
		<string>LR_SUCCESS</string>
		<string>LR_COULD_NOT_SAVE</string>
		<string>LR_STORE_IS_FULL</string>
		<string>LR_ENTRY_REMOVED</string>
		<string>LR_UNKNOWN_ADDR</string>
		<string>USB_CMD_READY</string>
		<string>BT_CMD_READY</string>
		<string>HS_CMD_READY</string>
		<string>BT_ARM_OFF</string>
		<string>BT_ARM_CMD_MODE</string>
		<string>BT_ARM_DATA_MODE</string>
		<string>BT_BRICK_VISIBILITY</string>
		<string>BT_BRICK_PORT_OPEN</string>
		<string>BT_CONNECTION_0_ENABLE</string>
		<string>BT_CONNECTION_1_ENABLE</string>
		<string>BT_CONNECTION_2_ENABLE</string>
		<string>BT_CONNECTION_3_ENABLE</string>
		<string>BT_ENABLE</string>
		<string>BT_DISABLE</string>
		<string>HS_UPDATE</string>
		<string>HS_INITIALISE</string>
		<string>HS_INIT_RECEIVER</string>
		<string>HS_SEND_DATA</string>
		<string>HS_DISABLE</string>
		<string>BT_DEVICE_EMPTY</string>
		<string>BT_DEVICE_UNKNOWN</string>
		<string>BT_DEVICE_KNOWN</string>
		<string>BT_DEVICE_NAME</string>
		<string>BT_DEVICE_AWAY</string>
		<string>INTF_SENDFILE</string>
		<string>INTF_SEARCH</string>
		<string>INTF_STOPSEARCH</string>
		<string>INTF_CONNECT</string>
		<string>INTF_DISCONNECT</string>
		<string>INTF_DISCONNECTALL</string>
		<string>INTF_REMOVEDEVICE</string>
		<string>INTF_VISIBILITY</string>
		<string>INTF_SETCMDMODE</string>
		<string>INTF_OPENSTREAM</string>
		<string>INTF_SENDDATA</string>
		<string>INTF_FACTORYRESET</string>
		<string>INTF_BTON</string>
		<string>INTF_BTOFF</string>
		<string>INTF_SETBTNAME</string>
		<string>INTF_EXTREAD</string>
		<string>INTF_PINREQ</string>
		<string>INTF_CONNECTREQ</string>
	</array>
</dict>
</plist>
